<ng-container *transloco="let t; read: 'credit.form'">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>account_balance</mat-icon>
        </div>

        <mat-card-title-group>
        <mat-card-title>
          {{ t('header.title') }} {{ (active$ | async)?.inputs?.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ t('header.subtitle') }}
        </mat-card-subtitle>
        </mat-card-title-group>
          <mat-card-title-group>
            <mat-card-title>
              <span>{{ t('header.credit.totals') }}: {{ (active$ | async)?.totals?.sum | currency: '€' }}</span>
              <span>{{ t('header.credit.interest') }}: {{ (active$ | async)?.totals?.interest | currency: '€' }}</span>
              <span>{{ t('header.credit.additional') }}: {{ (active$ | async)?.totals?.additional | currency: '€' }}</span>
            </mat-card-title>
            <mat-card-subtitle>
              <span>{{ t('header.credit.lastRateDateString') }}: {{ (active$ | async)?.totals?.lastRateDateString | date: 'mediumDate' }}</span>
              <span>{{ t('header.credit.rateCount') }}: {{ (active$ | async)?.lines?.length | number }}</span>
              <span>{{ t('header.credit.savings') }}: {{ (active$ | async)?.totals?.savings | currency: '€' }}</span>
            </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content formGroupName="inputs">
        <mat-form-field appearance="fill" class="full">
          <mat-label>{{ t('name') }}</mat-label>
          <input matInput type="string" formControlName="name"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
          <mat-label>{{ t('tags') }}</mat-label>
          <mat-chip-grid #chipList aria-label="Fruit selection">
            <mat-chip (removed)="removeTag(item)" *ngFor="let item of tags">
              {{item}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input [placeholder]="t('tags.placeholder')"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-grid>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('sum') }}</mat-label>
          <input matInput type="number" formControlName="sum" min="0" step="5000"/>
          <mat-icon matSuffix>euro</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('sum.total') }}</mat-label>
          <input class="number" matInput type="search" [disabled]="true"
                 [value]="(active$ | async)?.totals?.sum | currency: ' '"/>
          <mat-icon matSuffix>euro</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('date') }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="start">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('last-rate-date') }}</mat-label>
          <input [formControl]="lastRateDate" [matDatepicker]="picker2" matInput>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 disabled></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('interest') }}</mat-label>
          <input matInput type="number" formControlName="interest" min="0" max="25" step="0.25"/>
          <mat-icon matSuffix>percent</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('interest.total') }}</mat-label>
          <input class="number" matInput type="search" [disabled]="true"
                 [value]="(active$ | async)?.totals?.interest | currency: ' '"/>
          <mat-icon matSuffix>euro</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('repayment') }}</mat-label>
          <input matInput type="number" formControlName="repayment" min="0" max="25" step="0.25"/>
          <mat-icon matSuffix>percent</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('rate') }}</mat-label>
          <input class="number" matInput type="number" formControlName="rate" min="0" step="100"/>
          <mat-icon matSuffix>euro</mat-icon>
        </mat-form-field>

      </mat-card-content>

      <mat-divider inset></mat-divider>

      <mat-card-actions>
        <button mat-raised-button (click)="calc()">{{ t('calc') }}</button>
        <div></div>
        <button color="primary" mat-raised-button type="submit">{{ t('save') }}</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <form [formGroup]="additions">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t('additionals') }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('additions.date') }}</mat-label>
          <input matInput [matDatepicker]="pickerAdditions" formControlName="start">
          <mat-datepicker-toggle matSuffix [for]="pickerAdditions"></mat-datepicker-toggle>
          <mat-datepicker #pickerAdditions></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('additions.amount') }}</mat-label>
          <input matInput type="number" formControlName="amount" min="0" step="5000"/>
          <mat-icon matSuffix>euro</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('additions.interest') }}</mat-label>
          <input matInput type="number" formControlName="interest" min="0" step="5000"/>
          <mat-icon matSuffix>percent</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('additions.repayment') }}</mat-label>
          <input matInput type="number" formControlName="repayment" min="0" step="5000"/>
          <mat-icon matSuffix>percent</mat-icon>
        </mat-form-field>

        <div class="actions">
          <button (click)="addAdditional()" color="primary" mat-raised-button>{{t('add.button')}}</button>
        </div>

      </mat-card-content>

      <mat-divider inset></mat-divider>

      <mat-card-actions>
        <div *ngIf="!addition || addition.length === 0">
          {{ t('no.entries') }}
        </div>
        <mat-chip-listbox #chipList>
          <mat-chip (removed)="removeAdditional(item)" *ngFor="let item of addition">
            <sup>{{ item?.start?.toString() | date: 'mediumDate'}}</sup>
            <span>
              {{ item.amount | currency: '€'}}
              <ng-container *ngIf="item.interest">interest {{ item.interest | number:'.4-4' }}%</ng-container>
              <ng-container *ngIf="item.repayment">repayment {{ item.repayment | number :'.4-4'}}%</ng-container>
            </span>
            <button [matBadge]="" matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-listbox>
      </mat-card-actions>
    </mat-card>
  </form>

  <mat-card class="auto-height">
    <mat-card-header>
      <mat-card-title>
        {{ t('table') }}</mat-card-title>
    </mat-card-header>
    <mat-card-content *transloco="let t; read: 'credit.form.table'">
      <app-ag-grid-wrapper
        [all]="lines"
        [columnDefs]="columnDefs$ | async"
        [frameworkComponents]="frameworks"
        [translate]="t"
      ></app-ag-grid-wrapper>
    </mat-card-content>
  </mat-card>
</ng-container>
