:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: calc(100% - 2em);
}

.actions {
  margin-top: 0.5em;
}

.auto-height {
  height: inherit;

  mat-card-content {
    height: 100%;
  }
}

mat-card-title-group span {
  margin-right: 1em;
}

mat-chip {
  span {
    font-size: 1.1em;
  }

  sup {
    margin-left: 1em;
    font-style: italic;
  }
}

app-ag-grid-wrapper {
  display: flex;
  height: 100%;
}
