<ng-container *transloco="let t; read: 'credit.list'">
  <app-ag-grid-wrapper
    (api)="onApi($event)"
    [all]="all$ | async"
    [columnDefs]="columnDefs$ | async"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [translate]="t">
    <mat-toolbar>
      <mat-icon>shortcut</mat-icon>

      <button (click)="remove()" [matTooltip]="t('remove.tooltip')" color="warn" mat-icon-button>
        <mat-icon>delete_forever</mat-icon>
      </button>

      <button (click)="calc()" [matTooltip]="t('calc.tooltip')" mat-icon-button>
        <mat-icon>change_circle</mat-icon>
      </button>

      <mat-form-field appearance="fill" class="hidden">
        <input [formControl]="startForm" [matDatepicker]="pickerStart" matInput placeholder="start">
      </mat-form-field>

      <mat-datepicker-toggle [for]="pickerStart" [matTooltip]="t('start.tooltip')" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>

      <button (click)="copy()" [matTooltip]="t('copy.tooltip')" mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>

      <div></div>

      <button [routerLink]="['new']" mat-raised-button>
        {{ t('add') }}
      </button>
    </mat-toolbar>
  </app-ag-grid-wrapper>
</ng-container>
