:host {
  height: 100%;
}

ag-grid-angular {
  height: calc(100% - 70px);
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--accent-darker-color);
}

.hidden {
  visibility: hidden;
  width: 0;
}

mat-cell, mat-header-cell {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mat-column-sum, .mat-header-row-sum,
.mat-column-rate, .mat-header-row-rate,
.mat-column-interest, .mat-header-row-interest,
.mat-column-additional, .mat-header-row-additional
{
  align-items: flex-end;
}

mat-row, mat-header-row {
  gap: 1em
}

.mat-column-actions, .mat-header-column-actions {
  width: 15em;
  align-items: center;
  flex-direction: row;
  gap: .5em;
}
