:host {
  height: 100%;
}

ag-grid-angular {
  height: calc(100% - 35px);
  flex: 1 1 auto;
}

mat-toolbar ~ ag-grid-angular {
  height: calc(100% - 70px);
}

mat-toolbar.mat-toolbar {
  background-color: var(--accent-darker-color);

  div {
    flex: 1 1 auto;
  }
}

.hidden {
  visibility: hidden;
  width: 0;
}
