:host {
  display: grid;
  width: 100%;
  gap: 0.5em;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas:
    'img header'
    'img headertext'
    'content content';
}

h1 {
  font-size: 4em;
  color: var(--text-primary-color);
  grid-area: header;
  align-self: self-end;
}

header {
  grid-area: headertext;
}

header img {
  padding-right: 0.5em;
}

main {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  & > div {
    margin-top: 5em;
    text-align: center;
    grid-column: 1 / 4;
  }

  mat-divider {
    margin: 5em 0;
  }

  ol, mat-divider {
    grid-column: 1 / 4;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.img {
  grid-area: img;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 15px;
  line-height: 0;
  border: 10px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img > img {
  height: 90%;
  width: 90%;
}
