<span>{{params?.data.additionals | currency: '€'}}</span>
<small *ngIf="params?.data.savings">
  {{params?.context?.gridOptions?.context?.translate('additionalSavings', {value: (params?.data?.savings) | currency: '€'})}}
</small>
