:host {

  img {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    top: -200px;
  }

  header {
    display: flex;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 -400px;
    background-image: url("../../../assets/bg.svg");
  }


  main {
    width: 800px;
    height: 100%;
    display: flex;
    margin-left: 50%;
    transform: translateX(-400px);
    margin-top: 10vh;
  }
}
