:host {
  grid-area: MainNav;
  flex: 1;
  grid-template-columns: 1fr;
  justify-content: center;
  z-index: 2;
}

mat-toolbar {
  gap: .5em;
}

mat-toolbar > span {
  padding-right: 4em;
}

.small {
  background-color: transparent;

  a, span {
    visibility: hidden
  }
}

.spacer {
  flex: 1 auto;
}
