<ng-container *transloco="let t; read: 'topbar'">
  <ng-container [ngSwitch]="small">

    <mat-toolbar *ngSwitchCase="true" class="small" color="primary">
      <a [routerLink]="['/']">
        <img alt="logo" height="60px" src="assets/horse.png"/>
      </a>

      <span>{{ t('title') }}</span>

      <button [matTooltip]="t('credit.create.tooltip')" [routerLink]="['/credit', 'new']" mat-button>
        <mat-icon>tune</mat-icon>
        {{ t('credit.create.button') }}
      </button>
      <div class="spacer"></div>
      <button [matMenuTriggerFor]="menu" mat-button>{{ (locale$ | async)?.toLocaleUpperCase() }}</button>
      <mat-menu #menu="matMenu">
        <button (click)="switch('en')" mat-menu-item>EN</button>
        <button (click)="switch('de')" mat-menu-item>DE</button>
      </mat-menu>
    </mat-toolbar>

    <mat-toolbar *ngSwitchDefault color="primary">
      <a [routerLink]="['/']">
        <img alt="logo" height="60" width="60" ngSrc="assets/horse.png"/>
      </a>

      <span>{{ t('title') }}</span>

      <button [matTooltip]="t('credit.create.tooltip')" [routerLink]="['/', 'credit']" mat-button>
        <mat-icon>tune</mat-icon>
        {{ t('credit.create.button') }}
      </button>

      <div class="spacer"></div>

      <!--    <button mat-button (click)="loadSample()" [matTooltip]="t('sample-data.tooltip')">-->
      <!--      <mat-icon>auto_graph</mat-icon>-->
      <!--      {{ t('sample-data.button') }}-->
      <!--    </button>-->

      <!--      <button mat-button (click)="reset()" [matTooltip]="t('reset.tooltip')">-->
      <!--        <mat-icon>delete_forever</mat-icon>-->
      <!--        {{ t('reset.button') }}-->
      <!--      </button>-->

      <!--      <button mat-button (click)="loadFromGoogle()" [matTooltip]="t('cloud.load.tooltip')">-->
      <!--        <mat-icon>cloud_download</mat-icon>-->
      <!--        {{ t('cloud.load.button') }}-->
      <!--      </button>-->

      <!--      <button mat-button (click)="savetoGoogle()" [matTooltip]="t('cloud.save.tooltip')">-->
      <!--        <mat-icon>cloud_upload</mat-icon>-->
      <!--        {{ t('cloud.save.button') }}-->
      <!--      </button>-->

      <button [matTooltip]="t('settings.tooltip')" [routerLink]="['/settings']" mat-button>
        <mat-icon>settings</mat-icon>
        {{ t('settings.button') }}
      </button>

      <button [matMenuTriggerFor]="menu" mat-button>{{ (locale$ | async)?.toLocaleUpperCase() }}</button>
      <mat-menu #menu="matMenu">
        <button (click)="switch('en')" mat-menu-item>EN</button>
        <button (click)="switch('de')" mat-menu-item>DE</button>
      </mat-menu>

    </mat-toolbar>
  </ng-container>
</ng-container>
