@use '@angular/material' as mat;

@import '@angular/material/theming';
@include mat-core();
@import 'mat-palette-gen.scss';


$primary-color: #338bcc;
$accent-color: #cccccc;

$primary-palette: createPalette($primary-color);
$accent-palette: createPalette($accent-color);

$warn: mat.define-palette($mat-red);
$primary: mat.define-palette($primary-palette);
$accent: mat.define-palette($accent-palette);

// Pick one
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include angular-material-theme($theme);
