@import '@fontsource/material-icons-outlined/all-400.css';
@import "@fontsource/material-icons/400.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "material";

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

.content > * {
  margin: 1em;
  overflow: hidden;
}

.mat-radio-button .mat-radio-label-content {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.mat-card-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-actions.mat-card-actions {
  display: flex;
  margin-left: inherit;
  margin-right: inherit;
  flex-direction: row;
  align-items: flex-start;

  button.mat-raised-button {
    margin-top: 0.5em;
  }
}

mat-card:not(.auto-height) mat-card-content:not(.with-index) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  align-items: start;

  input[type=number], .number {
    text-align: right
  }

  .number {
    padding-right: 1em;
  }

  .full {
    grid-column: 4 span;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 0.5em;
}




