:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

app-topbar {
  position: sticky;
  top: 0;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
        "MainNav MainNav"
        "MainContent MainContent";
}

.content {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 64px);
  grid-area: MainContent;
  display: flex;
  flex-direction: column;

  router-outlet {
    display: none;
  }

  background-color: var(--accent-lighter-color);
}
