<ng-container *transloco="let t; read: 'settings.form'">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>settings</mat-icon>
        </div>
        <mat-card-title>
          {{ t('header.title') }}
        </mat-card-title>
        <mat-card-subtitle
          [matBadge]="t('versioning.state.' + (versioningState$ | async))"
          [matTooltip]="t('versioning.state')"
          matBadgeOverlap="false">
          {{ t('header.subtitle') }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('accessKeyId') }}</mat-label>
          <input formControlName="accessKeyId" matInput type="string"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('secretAccessKey') }}</mat-label>
          <input formControlName="secretAccessKey" matInput type="string"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ t('bucket') }}</mat-label>
          <input formControlName="bucket" matInput type="string"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ t('region') }}</mat-label>
          <input formControlName="region" matInput type="string"/>
        </mat-form-field>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-progress-bar [mode]="(isLoading$ | async) ? 'indeterminate' : 'determinate'"></mat-progress-bar>
      <mat-card-actions>
        <button (click)="check()" mat-raised-button>
          <app-loading-state
            [state]="checkingState$ | async"
          ></app-loading-state>
          {{ t('check') }}
        </button>
        <button (click)="upload()" mat-raised-button>
          <app-loading-state
            [state]="uploadState$ | async"
          ></app-loading-state>
          {{ t('upload') }}
        </button>
        <button (click)="download()" mat-raised-button>
          <app-loading-state
            [state]="downloadState$ | async"
          ></app-loading-state>
          {{ t('download') }}
        </button>

        <div></div>

        <button color="primary" mat-raised-button type="submit">{{ t('save') }}</button>

      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>
